[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
"autopep8" = "*"
requests = "*"
torch = "==0.3.1"
torchvision = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.6"
